:root {
  --c-text-black: #000000;
  --c-text-primary: #ff5a30;
  --c-text-gray: #424551;
  --c-text-gray-50: #787a80;
  --c-text-gray-light: #9a9ca5;
  --c-text-gray-light-shadow: rgba(154, 156, 165, 0.05);
  --c-text-shadow-gray: rgba(154, 156, 165, 0.08);
  --c-text-shadow-gray-light: rgba(154, 156, 165, 0.04);
  --c-text-shadow-gray-light-2: rgba(30, 33, 44, 0.03);
  --c-text-white: #ffffff;
}
