@import 'config/global.scss';

footer {
  background: var(--c-footer-bg);
  padding: 5rem;
  color: var(--c-text-white);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  @include container-boxed;
}
.footer-branding-container__logo-with-links {
  display: flex;
  justify-content: space-between;
  width: 25rem;
}
.footer-links-container {
  display: flex;
}

.footer-social-links {
  margin-right: 1.25rem;
  margin-bottom: 1.625rem;
}
.footer-branding-container__desc {
  p {
    width: 30.8125rem;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    font-weight: 400;
    opacity: 0.6;
  }
}

.footer-container__left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25rem;
  width: 21%;
}

.footer-container__middle-section {
  display: flex;
  flex-direction: column;
}

.form-heading {
  margin-bottom: 1.5625rem;
}

.subscribe-form-container {
  position: relative;
}
.subscribe-section {
  ::placeholder {
    padding: 1rem;
  }
  .form-email {
    background: var(--c-f-input-bg);
    border: 0.0625rem solid var(--c-f-input-shadow);
    border-radius: 0.25rem;
    width: 30.9375rem;
    height: 2.75rem;
    position: relative;
  }
  .form-submit {
    background: var(--c-text-primary);
    position: absolute;
    padding: 0rem 2rem;
    height: 2.75rem;
    width: 8.1875rem;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
    top: 0;
    right: 0rem;
    border: none;
  }
  p {
    font-size: 0.75rem;
    line-height: 1.125rem;
    width: 30.9375rem;
    margin-top: 1rem;
    opacity: 0.6;
  }
}

.footer-container__right-section {
  display: flex;
  height: 19.375rem;
  flex-direction: column;
  justify-content: space-between;
}

.info-label {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  margin-bottom: 0.8125rem;
}
.company-info__address,
.company-info__call,
.company-info__email {
  width: 25rem;
  display: flex;
  font-size: 1rem;
  line-height: 1.6rem;
  margin-right: 0.3125rem;
  p {
    opacity: 0.6;
    &:before {
      content: ':';
      margin-right: 0.125rem;
      color: var(--c-text-white);
      opacity: 1;
    }
  }
}

.footer-container__menu {
  display: flex;
  justify-content: flex-end;
  height: 19.375rem;
  flex-direction: column;
}
.footer-menu-links {
  a {
    @include link-clear;
    margin-bottom: 0.3125rem;
    opacity: 0.6;
    font-size: 1rem;
    font-weight: 400;
    color: var(--c-text-white);
    display: block;
  }
}

.footer-container__copyright {
  margin-top: 3.75rem;
  p {
    width: max-content;
  }
}
