@import 'config/global.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  padding: 40px;
  position: absolute;
  z-index: 9;
  width: 100%;
}
.column-left,
.column-right {
  display: flex;
  align-content: center;
  align-items: center;
}
.menu-container {
  display: flex;
  margin-left: 50px;
  li {
    margin-right: 40px;
    a {
      @include link-clear;
      @include text-bold;
      @include text-black;
      font-weight: 700;
      &:hover {
        color: #ff5a30;
      }
      .is-active {
        color: red !important;
      }
    }
  }
}

.cta-container {
  display: flex;
  margin-right: 40px;
}

.cta-container__image {
  margin-right: 20px;
}

.cta-content__title {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}
.cta-content__desc {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}
.hero-container {
  position: absolute;
  top: 200px;
  left: 230px;
}
.breadcrumb-container {
  display: flex;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  a {
    color: #000000;
    font-weight: 400;
  }
}
.breadcrumb-list-item:after {
  content: '/';
  color: #9a9ca5;
  margin-right: 8px;
  margin-left: 8px;
}
.breadcrumb-list-item:last-child {
  color: #9a9ca5;
}

.hero-container__heading {
  font-size: 72px;
  line-height: 93px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 25px;
}

.hero-container__description {
  font-size: 20px;
  line-height: 30px;
  color: #9a9ca5;
  font-weight: 400;
}
