@import 'config/global.scss';

.news-list-container {
  width: 600px;
  height: 550px;
  background: var(--c-text-white);
  box-shadow: 0px 80px 80px -20px var(--c-text-shadow-gray),
    0px 30px 24px -10px var(--c-text-gray-light-shadow),
    0px 12px 10px -6px var(--c-text-shadow-gray-light),
    0px 4px 4px -4px var(--c-text-shadow-gray-light-2);
  border-radius: 4px;
}

.news-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}

.news-list-container {
  margin-right: 40px;
  margin-bottom: 60px;
}
.news-list-container__image {
  img {
    width: 600px;
    height: 306px;
  }
}
.news-list-body-section {
  padding: 0px 24px;
}

.news-list-body-section__heading {
  margin: 14px 0px;
  a {
    color: var(--c-text-black);
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }
}

.news-list-body-section-middle {
  display: flex;
  color: var(--c-text-gray-light);
  font-size: 14px;
  line-height: 21px;
  margin: 16px 0;
}

.news-list-body-section-middle__comment {
  &:before {
    content: url('/themes/custom/solidify/images/Vector.png');
  }
}
.news-list-body-section-middle__tags {
  a {
    @include link-clear;
    color: var(--c-text-gray-light);

    &:after {
      content: '|';
      margin-left: 12px;
      margin-right: 12px;
    }
  }
}

.news-list-body-section-middle__date {
  &:after {
    content: '|';
    margin-left: 12px;
    margin-right: 12px;
  }
}

.news-list-body-section__desc {
  font-size: 15px;
  line-height: 25.6px;
}

.news-list-label {
  text-align: center;
  font-size: 46px;
  padding-top: 120px;
  padding-bottom: 50px;
}

.exposed-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 70px;
  padding: 30px;
  .bef-link--selected {
    border: 1px solid var(--c-text-primary);
    color: var(--c-text-primary);
  }
  @include container-boxed;
  padding-top: 50px;
  padding-bottom: 70px;
  ul {
    display: flex;
    li {
      margin-right: 28px;
    }
  }
  a {
    font-size: 16px;
    color: var(--c-text-gray-light);
    padding: 10px 50px;
    border-radius: 4px;
    text-align: center;
    &:hover {
      border: 1px solid var(--c-text-primary);
    }
  }
}

.news-pager {
  .pager__items {
    display: flex;
    justify-content: center;
  }
  .pager__item {
    margin-left: 20px;

    a {
      color: var(--c-text-gray);
      font-size: 16px;
      font-weight: 700;
    }
    &.is-active {
      a {
        color: var(--c-text-primary);
      }
    }
  }

  .pager__item--next {
    a {
      background-image: url('/themes/custom/solidify/images/next.png');
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      width: 18px;
      height: 10px;
    }
  }
}
